body {
  font-family: 'Arial', sans-serif;
  background-color: #fffaf5;
  background-image:url("descarga.png");
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Encabezado */
header {
  padding: 20px;
  justify-content: space-between;
  display:flow-root;
  align-items: center;
}

header h1 {
  margin: 10px 0 5px 0;
  font-size: 2em;
}

nav ul {
  margin: 0;
  list-style: none;
  display:flex;
  justify-content: center;
  color: #976039;
  font-weight: bold;
}
nav li{
    margin:0 15px;
}

/* Sección principal */
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 30px;
}

.texto {
  width: 45%;
  text-align: left;
  line-height: 1.6;
}

.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 45%;
}

.imagenes img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* Pie de página */
footer {
  background-color: #fbe4d8;
  padding: 15px;
  font-size: 0.9em;
}
























